$red-theme-color-100: #96383a;
$red-theme-color-90: #a93f41;
$red-theme-color-80: #bc4749;
$red-theme-color-70: #c2595b;
$red-theme-color-60: #d07e7f;
$red-theme-color-50: #d69091;
$red-theme-color-40: #e4b5b6;
$red-theme-color-30: #eac7c8;
$red-theme-color-20: #f1dada;
$red-theme-color-10: #f8ecec;

// gray
$gray-10: #edeef0;
$gray-20: #dcdddf;
$gray-30: #c7c7c9;
$gray-40: #a1a2a3;
$gray-50: #8d8e90;
$gray-60: #6c6e6f;
$gray-70: #48494a;
$gray-80: #2b2c2d;
$gray-90: #1d1e1f;
$gray-100: #151617;

// black & white
$black-color: #000000;
$white-color: #ffffff;

// shadows
$dark-small-shadow: 2px 2px 4px rgba(82, 82, 122, 0.2);
$dark-normal-shadow: 2px 4px 6px rgba(82, 82, 122, 0.2);
$dark-large-shadow: 4px 6px 6px rgba(82, 82, 122, 0.2);

// extras
$shadow-dark-color: #52527a33;
$shadow-light-color: #f0f2f5;
$cream-background: #f2e8cf;
$cream-background-ligth-dark: #eddebb;
$red-theme-font-color: #4B1C1D;
